<div class="hero-head">
  <%= render ShovikComWeb.LayoutView, "_menu.html", conn: @conn, current_user: @conn.assigns.current_user %>
</div>

<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image is-4by3">
          <img src="https://picsum.photos/800/600/?random" alt="Description">
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
        <h1 class="title is-2">
          Shovik makes
        </h1>
        <h2 class="subtitle is-4">
          Software for humans
        </h2>
        <br>
        <p class="has-text-centered">
          <a class="button is-medium is-info is-outlined" href="/blog">Learn more</a>
        </p>
      </div>
    </div>
  </div>
</div>
