<section class="hero is-medium">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Got password?</h1>

        <%= form_for @conn, Routes.session_path(@conn, :create), [as: :session], fn f -> %>
          <div class="field">
            <p class="control has-icons-left">
              <%= text_input f, :email, class: "input is-large", placeholder: "E-Mail Address", autofocus: true, autocomplete: "off" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <%= password_input f, :password, class: "input is-large", placeholder: "Password", autocomplete: "off" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control">
              <%= submit "Log in", class: "button is-success is-large" %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>