<section class="section">
  <h3 class="title is-3 has-text-dark">Edit <%= @post.title %></h3>

  <%= render "form.html", Map.put(assigns, :action, Routes.blog_path(@conn, :update, @post)) %>
</section>
