<%= form_for @changeset, @action, fn f -> %>
  <div class="field">
    <label class="label">Publish At</label>
    <div class="control">
      <%= text_input f, :publish_at, class: "input" %>
      <%= error_tag f, :publish_at %>
    </div>
  </div>

  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <%= text_input f, :title, class: "input" %>
      <%= error_tag f, :title %>
    </div>
  </div>

  <div class="field">
    <label class="label">URL</label>
    <div class="control">
      <%= text_input f, :url, class: "input" %>
      <%= error_tag f, :url %>
    </div>
  </div>

  <div class="field">
    <label class="label">Preview</label>
    <div class="control">
      <%= textarea f, :preview, class: "textarea" %>
      <%= error_tag f, :preview %>
    </div>
  </div>

  <div class="field">
    <label class="label">Body</label>
    <div class="control">
      <%= textarea f, :body, class: "textarea" %>
      <%= error_tag f, :body %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= submit "Save", class: "button is-link" %>
    </div>
    <div class="control">
      <%= link "Cancel", to: post_url(@conn, @conn.assigns[:post]), class: "button is-text" %>
    </div>
  </div>
<% end %>
