<div class="container">
  <div class="columns">
    <div class="column is-two-thirds-widescreen">
      <%= if @conn.assigns[:current_user] do %>
        <section class="section">
          <%= link "Write some prose", to: Routes.blog_path(@conn, :new), class: "button is-success" %>
        </section>
      <% end %>

      <%= for post <- @conn.assigns[:posts] do %>
        <section class="section">
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <h3 class="title is-3 has-text-dark"><%= link post.title, to: post_url(@conn, post) %></h3>
              </div>
            </div>

            <%= post_edit_button(@conn, post) %>
          </nav>

          <h6 class="subtitle is-6 is-italic"><span class="utc-span"><%= post_publish_at(post) %></span><h6>

          <p class="content">
            <%= post_preview(post) %>
          </p>

        </section>
      <% end %>
    </div>

    <div class="column is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only">
      <img src="https://shovik-com.s3.amazonaws.com/uploads/mr-h.jpg" />
    </div>
  </div>
</div>  
