<% post = @conn.assigns[:post] %>
<div class="container">
  <section class="section">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h3 class="title is-3 has-text-dark"><%= post.title %></h3>
        </div>
      </div>

      <%= post_edit_button(@conn, post) %>
    </nav>

    <h6 class="subtitle is-6 is-italic"><span class="utc-span"><%= post_publish_at(post) %></span><h6>

    <div class="content">
     <%= post_body(post) %>
    </div>
  </section>
</div>  
