<% info = get_flash(@conn, :info) %>
<% error = get_flash(@conn, :error) %>

<%= if info do %>
  <div class="notification is-primary">
    <button class="delete"></button>
    <%= info %>
  </div>
<% end %>

<%= if error do %>
  <div class="notification is-danger">
    <button class="delete"></button>
    <%= error %>
  </div>
<% end %>
