<footer class="footer content has-background-dark has-text-light">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-one-third has-text-left">
        <ul class="list-no-bullets">
          <li><i class="fab fa-twitter"></i>&nbsp;<a href="https://twitter.com/ashovik" title="Alex Kovshovik's Twitter profile">@ashovik</a></li>
          <li><i class="fab fa-stack-overflow"></i>&nbsp;<a href="http://stackoverflow.com/users/115680/alex-kovshovik" title="Alex Kovshovik's StackOverflow profile">StackOverflow</a></li>
          <li><i class="fab fa-linkedin-in"></i>&nbsp;<a href="https://www.linkedin.com/in/alex-kovshovik-4532588" title="Alex Kovshovik's LinkedIn profile">LinkedIn</a></li>
          <li><i class="fab fa-gitlab"></i>&nbsp;<a href="https://gitlab.com/alex-kovshovik" title="Alex Kovshovik's GitLab profile">GitLab</a></li>
          <li><i class="fab fa-github"></i>&nbsp;<a href="https://github.com/alex-kovshovik" title="Alex Kovshovik's GitHub profile">GitHub</a></li>
        </ul>
      </div>

      <div class="column is-two-thirds">
        <p>
          <br/>
          This site is powered by <a href="http://elixir-lang.org">Elixir</a> and <a href="http://phoenixframework.org">Phoenix Framework</a>
          mostly because I like to play with things, however <a href="http://elixir-lang.org">Elixir</a> is such a pleasure to work with, I hope
          to use it for serious projects.
        </p>

        <p>
          We have access to the <a href="https://cleverlabs.io/">team of professional developers</a>
          in <a href="https://www.google.com/maps/place/Belarus/@53.6331332,23.4939995,6z/data=!3m1!4b1!4m5!3m4!1s0x46da2584e2ad4881:0xa1d181ec8c10!8m2!3d53.709807!4d27.953389">Belarus</a>
          who can help you create solid technology solutions.
        </p>

        <p>
          What's new: <%= link System.get_env("COMMIT_HASH"), to: "https://gitlab.com/shovik-group/shovik-com/commit/#{System.get_env("COMMIT_HASH_LONG")}" %>
        </p>
      </div>
    </div>

    <p>
      Copyright &copy; <%= Timex.today.year %> Alex Kovshovik
    </p>
  </div>
</footer>
