<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/favicon/favicon-96x96.png" alt="Logo">
        &nbsp;Shovik Software
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <div class="tabs is-right">
          <ul>
            <%= render_menu_item(@conn, "/", "Home") %>
            <%= render_menu_item(@conn, Routes.blog_path(@conn, :index), "Blog") %>
            <%= if @current_user do %>
              <%= render_menu_item(@conn, Routes.session_path(@conn, :delete, @current_user), "Logout", method: :delete) %>
            <% else %>
              <%= render_menu_item(@conn, Routes.session_path(@conn, :new), "Login") %>
            <% end %>
            <%# <%= render_menu_item(@conn, "/", "Portfolio") %>
            <%# <%= render_menu_item(@conn, "/", "Contact") %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
