<!DOCTYPE html>
<html lang="en">
  <%= render "_head.html", conn: @conn %>
  <body>
    <%= render "_flashes.html", conn: @conn %>

    <section class="hero is-default is-bold">
      <div class="hero-head">
        <%= render "_menu.html", conn: @conn, current_user: @conn.assigns.current_user %>
      </div>
    </section>

    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div>
    
    <%= render "_foot.html", conn: @conn %>
    <%= render "_scripts.html", conn: @conn %>
  </body>
</html>
