<!DOCTYPE html>
<html lang="en">
  <%= render "_head.html", conn: @conn %>
  <body>
    <%= render "_flashes.html", conn: @conn %>

    <section class="hero is-fullheight is-default is-bold">
      <%= render @view_module, @view_template, assigns %>
      <%= render "_foot.html", conn: @conn %>
    </section>

    <%= render "_scripts.html", conn: @conn %>
  </body>
</html>
